<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <main>
            <header>
                <a id="title-link" href="/">
                    <h1 id="title">Julian</h1>
                </a>
                {% include navigation.html %}
            </header>
            <article>
                {{ content }}
            </article>
            <footer>
                &copy; to me
            </footer>
        </main>
    </body>
</html>
